<style>
	@import "../assets/Results.css";
</style>

<script lang="ts" setup>
import { useStore } from "../store";
import { computed, onMounted, ref } from "vue";
import { getAllUsers, type User } from "../api/users";
import ResultsElements from "../components/ResultsElements.vue";
// Store
const store = useStore();
const userList = computed(() => store.state.user);
const error = ref<string | null>(null);
// Methods

onMounted(async () => {
	const [_error, _user] = await getAllUsers();
	store.commit("setUsers", _user);
	console.log("view =" + _user)
	error.value = _error;
});
</script>

<template>
	<div id="result-container"><!-- Display result elements -->
		<p id="result-title">Results</p>
		<div id="result-element-container" v-if="userList">
			<ResultsElements  :user="userList" />
		</div>
		
		<router-link to="/" >
			<button id="return-button">Return</button>
		</router-link>
	</div>
</template>
