<script setup lang="ts">
import { useStore } from "../store";
import { computed, onMounted, ref } from "vue";
import { getTrivia, type Trivia } from "../api/trivia";
import TriviaElements from "../components/TriviaElements.vue";

// Store
const store = useStore();
const questions = computed(() => store.state.trivia);
const error = ref<string | null>(null);
// Methods
onMounted(async () => {
    const [_error, _trivia] = await getTrivia();
    store.commit("setTrivia", _trivia);
    error.value = _error;
});
</script>

<template><!-- Adds trivia elements -->
    <TriviaElements :trivia="questions" />
    <router-link to="/results">
        <Button id="submit-button">Complete</Button>                
    </router-link>
</template>