<style>
@import "../assets/Login.css";
</style>

<script lang="ts" setup>
import { useStore } from "../store";
import { computed, ref } from "vue";
import { apiUserRegister, getUser, userExists, type User } from "../api/users";
// Store
const store = useStore();
const t = computed(() => store.state.user);
const username = ref<string>("");
// Methods
const onSubmit = async () => {
	console.log("Clicked");
	const userExist = await userExists(username.value);
	
	if (!userExist) {
		const user = await apiUserRegister(username.value);
		store.commit("setUsers", user);
		console.log("USER: ", user);
	}

};
</script>
<template>
	<div id="login-title">
		<h1>Login</h1>
	</div>
	<form>
		<div id="login-form-container">
			<fieldset id="login-form">
				<label for="username" aria-label="Username">Username: </label>
				<input
					type="text"
					id="username"
					placeholder="type your username here"
					v-model="username" />
			</fieldset>
			<router-link to="/trivia">
				<button id="submit-button" @click="onSubmit" type="submit">
					Start game
				</button>
			</router-link>
		</div>
	</form>
</template>
