<style>
	@import "../assets/Navbar.css";
</style>

<script lang="ts" setup>
import { useStore } from "../store";
// Store
const store = useStore();

</script>

<template>
    <nav id="navbar"><!-- Navbar primarily used for debugging -->
        <ul>
            <li>
                <router-link to="/">
                    <span>Home</span>
                </router-link>
            </li>
            <li>
                <router-link to="/trivia">
                    <span>Trivia</span>
                </router-link>
            </li>
            <li>
                <router-link to="/results">
                    <span>Results</span>
                </router-link>
            </li>
        </ul>
    </nav>
</template>
