<style>
	@import "../assets/ResultsElements.css";
</style>

<script lang="ts" setup>
import { computed, PropType, onMounted, ref } from "vue";;
import { useStore } from "../store";
import { getAllUsers, type User } from "../api/users";

//Store

const props = defineProps({
	user: {
		type: Array as PropType<User[]>,
		required: true
	}
});

</script>

<template>
    <ul id="result-list">
		<li id="result-li" v-for="user in props.user">
			<div id="username-div">
				<p id="username-element">{{ user.username }}</p>
                <p id="username-element">High score: {{ user.highScore }}</p>
			</div>
		</li>
	</ul>
</template>