<style>
	@import "../assets/TriviaElements.css";
</style>

<script lang="ts" setup>
import type { PropType } from "vue";
import { Trivia } from "../api/trivia";

const props = defineProps({
	trivia: {
		type: Array as PropType<Trivia[]>,
		required: true
	}
});

</script>

<template>
    <ul id="trivia-ul">
		<li id="trivia-li" v-for="t in props.trivia">
			<div id="trivia-container">
				<p id="question">{{ t.question }}</p>
				<div id="button-container">
					<div> <!-- Buttons in case of 2 answers -->
						<button class="trivia-button">{{t.correct_answer}}</button>
						<button class="trivia-button">{{t.incorrect_answers[0]}}</button>
					</div> <!-- Buttons in case of 4 answers -->
					<div v-if="t.type == 'multiple'">
						<button class="trivia-button">{{t.incorrect_answers[1]}}</button>
						<button class="trivia-button">{{t.incorrect_answers[2]}}</button>
                </div>
				</div>
			</div>
		</li>
	</ul>
</template>