#login-title{
    display: flex;
    flex-direction: row;
    color: rgb(14, 112, 34);
    text-align: center;
}

#login-form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width: 800px) {
    #login-form-container{
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    #login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}


#submit-button{
    background-color: rgb(36, 187, 66);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 5px;
}
#submit-button:hover{
    background-color: rgb(14, 112, 34);
}
@media (max-width: 800px) {
    #submit-button{
        margin-top: 8px;
    }
}


