#result-title{
    color: rgb(14, 112, 34);
    border: solid;
    color: rgb(14, 112, 34);
    border-radius: 2em;
    text-align: center;
}

#result-element-container{
    display: flex;
    flex-direction: column;
}

#return-button{
    background-color: rgb(36, 187, 66);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 5px;
}
#return-button:hover{
    background-color: rgb(14, 112, 34);
}