#result-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username-div{
    border: solid;
    color: rgb(14, 112, 34);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    min-width: 10em;
}

#result-li{
    margin-bottom: 1em;
}

#username-element{
    font-size: large;
    font-weight: bolder;
}