#trivia-ul{
    background-color: rgb(207, 237, 213);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#trivia-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

#question{
    border: solid;
    color: black;
    padding: 1em;
    min-width: 12em;
}

#button-container{
    display: flex;
    flex-direction: column;
}

.trivia-button{
    background-color: rgb(36, 187, 66);
    border-radius: 20px;
    display: flex;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 0 1px black;
    min-width: 12em;
}
.trivia-button:hover{
    background-color: rgb(14, 112, 34);
}
